node_modules/
.env
storage/payments/*
storage/agreements/*
storage/documents/*
storage/temp/*
!storage/payments/.gitkeep
!storage/agreements/.gitkeep
!storage/documents/.gitkeep
!storage/temp/.gitkeep
*.log
.DS_Store
